@page "/C_Ticket"
@inject HttpClient httpClient

<div class="card">
    <div class="card-header">
        <h3>Consulta de Tickets</h3>
    </div>

    <div class="card-body">
        <div class="row">
            <button type="button" @onclick="Buscar" class="btn btn-primary input-group-text">
                <i class="oi oi-magnifying-glass " />
            </button>
        </div>
        @if (Tickets is not null)
        {
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th>Ticket Id</th>
                        <th>Fecha</th>
                        <th>Solicitado Por</th>
                        <th>Asunto</th>
                        <th>Descripción</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var tickets in Tickets)
                    {
                        <tr>
                            <td>@tickets.TicketId</td>
                            <td>@tickets.Fecha</td>
                            <td>@tickets.SolicitadoPor</td>
                            <td>@tickets.Asunto</td>
                            <td>@tickets.Descripcion</td>
                            <td><a href="R_Ticket/@tickets.TicketId">Ver</a></td>
                        </tr>
                    }

                </tbody>

            </table>
        }
    </div>
    <div class="card-footer">
        <div class="form-row justify-content-sm-between" aria-orientation="vertical">
            <div class="col-3">
                <label for="CantidaRegistro" class="col-form-label"><strong>Filas</strong>&nbsp;</label>
                <input id="CantidaRegistro" @bind-value="@conteo" disabled class="form-control" />
            </div>
        </div>
    </div>
</div>


@code {
    public List<Tickets>? Tickets { get; set; }
    public int conteo { get; set; }

    public async Task Buscar()
    {
        Tickets = await httpClient.GetFromJsonAsync<List<Tickets>>($"api/Tickets");

        conteo = Tickets != null ? Tickets!.Count() : 0;
        StateHasChanged();

    }

}